body{
  margin:0;
  padding:0;
  background: url('../image/bg-login.jpg');
  background-size: cover;
  background-position: center;
}

.forum-box{
  height: 80%;
  background-image: url('../image/login.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.mt-100px {
  margin-top: 50px
}

#flexbox{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
