<nav class="navbar navbar-expand-lg navbar-light bg-header">
  <img src="../static/image/ahehe.png" alt="" height=50px width=50px>
  <a class="navbar-brand font-weight-bold text-white" href="{{ url_for('index_1')}}">COINCARD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index_1')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('list_coin')}}">Coin list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('blog')}}">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('trade')}}">Trade</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="{{ url_for('forum')}}">Forum</a>
      </li>


      <li class="nav-item">
        <a class="nav-link disabled" href="{{ url_for('logout')}}">Logout</a>
      </li>
    </ul>

  </div>
</nav>
