<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>COINCARD</title>
    {% include "main.html" %}
    <link rel="stylesheet" href="../static/css/error.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../static/image/ahehe.png">
  </head>
  <body>





    <div id= "flexbox" class="error-box mt-100px">
      <div class="h-100px w-300px d-flex justify-content-around">
      <a class='btn-login fonthehe' style="text-decoration:none" href="{{ url_for('login') }}">Login</a>
      <a class='btn-register fonthehe'  style="text-decoration:none" href="{{ url_for('register') }}">Register</a>

    </div>

    </div>

  </body>
</html>
