<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>COINCARD</title>
    {% include 'main.html' %}
    <link rel="stylesheet" href="../static/css/forum.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../static/image/ahehe.png">
  </head>

  <body>
    {% include 'homepage/subheader.html' %}
    <br>
    <h1 class="text-center text-white">
      <i class="fas fa-comments"></i>
      FORUM COINCARD
    </h1>
    <h2 class="text-secondary text-center font-italic">Release soon...</h2>
  </body>
</html>
