<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>COINCARD</title>
    <link rel="shortcut icon" type="image/png" href="../static/image/ahehe.png">
    {% include "main.html"%}
  </head>
  <body>
  <div id="wrap">
    <div  class="rounded d-flex justify-content-center w-100 h-100 container-fluid ">
        <a class="rounded-circle" href="{{url_for('login')}}"><img class="obj-img img-center rounded-circle" src="../static/image/ahehe.png" style="width:700px;height:700px;" alt=""></a>
    </div>
  </div>
  <!-- <img class="obj-img" src="../static/image/B.png" alt=""> -->
  </body>
</html>
