<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>COINCARD PAGE</title>
    {% include "main.html" %}
    <link rel="stylesheet" href="../static/css/login.css">
  </head>
  <body class =" h-100 container-fluid d-flex align-items-center d-flex justify-content-around">

  <div id="border" class=" bg-white h-80 w-80 d-flex align-items-center d-flex justify-content-around">
<div class="login-box h-100 w-40">

</div>
    <div class="w-30 d-flex flex-column d-flex justify-content-center ">
      <h1>Login Here</h1> <br>

      <form method="post">

      <div class="form-input">


        <input type="text" name="username"  placeholder="Enter Username" value="">

      </div>


      <div class="form-input">

        <input type="password" name="password" placeholder="Enter Password" value="">
        <br>
        <br>
      </div>
      <div>
        <input type="submit" name="" value="Login" class="btn-login">
      </div>
        <br>


        <a href="{{url_for('register')}}">Create your accout --></a>

      </form>
    </div>

  </div>


  </body>
</html>
