<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>COINCARD PAGE</title>
  </head>
  <body>

    <h1>Đăng nhập tại đây/Login here:</h1>

    <form method="post">

      <label>Tên đăng nhập/Username:</label>
      <br>
      <input type="text" name="username" value="">
      <br><br>

      <label>Mật khẩu/Password:</label>
      <br>
      <input type="text" name="password" value="">
      <br><br>

      <input type="submit" name="" value="Gửi/Submit">

    </form>


  </body>
</html>
