<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>COINCARD PAGE</title>
    {% include 'main.html' %}
    <link rel="stylesheet" href="../static/css/mainpage.css">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

  </head>
  <body class=" body-background">
    {% include 'homepage/header.html' %}
    <div class="w-100 h-100 bg-header">
      <div>
        <h1 class="text-center text-20px font">COIN MUA BAN HAHA</h1>
      </div>
      <div class="w-100 h-100 bg-success">
        <div class="w-80 h-100 bg-danger">
        {% include 'homepage/dropdown.html' %}
        <div class="w-100 h-85 bg-secondary py-3 d-flex justify-content-between">
          <div class="w-40 h-90 bg-warning d-flex align-content-between d-flex justify-content-center flex-wrap py-3 ml-10px">
            <div class="bg-info h-10 w-50 d-flex justify-content-center">
              <h2 class="tex-center">Lenh mua </h2>

            </div>
            {% include 'homepage/coin.html' %}


          </div>
          <div class="w-40 h-90 bg-danger d-flex justify-content-center py-3 mr-10px">
            <div class="bg-info h-10 w-50 d-flex justify-content-center ">
              <h2 class="text-center">Lenh pan </h2>
            </div>
          </div>





        </div>
        <div class="w-100 h-300px bg-info d-flex justify-content-around d-flex align-items-center">
          <div class="w-40 h-85 bg-success py-3 px-3">

          </div>
          <div class="w-40 h-85 bg-warning py-3 px-3">

          </div>

        </div>



        </div>

      </div>



  </body>
</html>
