<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>COINCARD PAGE</title>
  </head>
  <body>
    <h1>Đăng ký tài khoản ở đây/Register here:</h1>
    <form method="post">
      <label>Tên đăng nhập/Username:</label>
      <br>
      <input type="text" name="username" value="">
      <br><br>

      <label>Mật khẩu/Password:</label>
      <br>
      <input type="text" name="password" value="">
      <br><br>

      <label>Họ và tên/Fullname:</label>
      <br>
      <input type="text" name="fullname" value="">
      <br><br>

      <label>Năm sinh/Year of birth:</label>
      <br>
      <input type="text" name="yob" value="">
      <br><br>

      <label>Email:</label>
      <br>
      <input type="text" name="email" value="">
      <br><br>

      <label>Giới tính/Gender:</label>
      <br>
      <input type="radio" name="gender" value=1 checked>Male
      <input type="radio" name="gender" value=0>Female
      <br><br>

      <input type="submit" name="" value="Gửi/Submit">


    </form>
  </body>
</html>
