<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>COINCARD</title>
    <link rel="shortcut icon" type="image/png" href="../static/image/ahehe.png">
    {% include "main.html" %}
    <link rel="stylesheet" href="../static/css/register.css">
  </head>
  <body class = "h-100 container-fluid d-flex align-items-center d-flex justify-content-around">
  <div id="border" class= "bg-white h-80 w-80 d-flex align-items-center d-flex justify-content-around">
    <div class="login-box h-100 w-40"></div>
    <div class="w-30 d-flex flex-column d-flex justify-content-center">
      <h1 class="text-center text-warning">
        <i class="far fa-registered"></i>
        Register here
      </h1>
      <form method="post">
        <label>Username:</label>
        <br>
        <input type="text" name="username" value="">
        <br>

        <label>Password:</label>
        <br>
        <input type="password" name="password" value="">
        <br>

        <label>Fullname:</label>
        <br>
        <input type="text" name="fullname" value="">
        <br>

        <label>Year of birth:</label>
        <br>
        <input type="text" name="yob" value="">
        <br>

        <label>Email:</label>
        <br>
        <input type="text" name="email" value="">
        <br>

      <div class="w-100 d-flex flex-nowrap ">
        <div class="mr-30px">
          <label for="m1">
            <i class="fas fa-mars"></i>
            Male
          </label>  <input class="w-10px" type="radio" name="gender" id="m1" value=1 checked>
        </div>
        <div class="">
           <label for="m2">
             <i class="fas fa-venus"></i>
             Female
           </label> <input class="w-10px" type="radio" name="gender" id="m2" value=0>
        </div>
      </div>

        <input class="btn-login" type="submit" name="" value="Submit">


      </form>
    </div>
  </div>



  </body>
</html>
