<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>COINCARD</title>
    {% include 'main.html' %}
    <link rel="stylesheet" href="../static/css/trade.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../static/image/ahehe.png">

  </head>
  <body>
    {% include 'homepage/subheader.html' %}
    <h1 class="text-center text-white">
      <i class="fab fa-bitcoin"></i>
      CÁC SÀN GIAO DỊCH TIỀN ẢO
    </h1>
    <br>
    <div class="d-flex flex-row justify-content-around">
      <div class="d-flex flex-column justify-content-around">
        <div class="">
          <a href="https://www.bittrex.com/">
            <img src="../../static/image/banner-bittrex.png" alt="" height=200px width=500px>
          </a>
        </div>
        <br>
        <br>
        <div class="">
          <a href="https://www.binance.com/vn">
            <img src="../../static/image/banner-binance.jpg" alt="" height=200px width=500px>
          </a>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-around">
        <div class="">
          <a href="https://poloniex.com/">
            <img src="../../static/image/banner-poloniex.png" alt="" height=200px width=500px>
          </a>
        </div>
        <br>
        <br>
        <div class="">
          <a href="https://cex.io/">
            <img src="../../static/image/banner-cex.jpg" alt="" height=200px width=500px>
          </a>
        </div>
      </div>

    </div>





  </body>
</html>
